@media only screen and (max-width:781px){
   $th-col:#ff00d9;
   :root{
       --prcol:#000000;
       --bgcol:#ffffff;
   }
   .darkmode{
       --prcol:#ffffff;
       --bgcol:#000000;
   }
   h2{
      font-size: 3rem;
      hr{
         width: 60%;
      }
   }
    header nav {
        #menubar{
            position: absolute;
            left: 0;
            display: block;
            top: 71px;
            transition: 0.3s;
            background-color:var(--prcol);
            height: 0;
            overflow: hidden;
            width: 100%;
            text-align: right;
             li{
                margin: 10px 10px 10px 0 ;
                a{
                  color: var(--bgcol);
                }
             }
             i{
                margin: 0 10px 10px 0 ;
                color: var(--bgcol);
             }
             #thicon{
                position: relative;
                left: 0;
                top: 0;
             }
        }
    }
    #menu-icon{
      display: block;
    }
    .is-active{
     min-height: 216px;
    }

   //  ============ banner =====================
  .banner .ban-row {
      height: 540px;
   h1{
      font-size: 35px;
   }
  }
   //  ============ banner =====================

//  ============ About =====================
.skills{
   li{
      font-size: 1.2em;
      gap: .5em;
      .bar{
         width: 170px;
      }
   }
}
//  ============ About =====================


//  ============ work =====================

.work{
   span{
      width: 288px;
   }
}
//  ============ work =====================

}