*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: poppins;
}
// fonts
// Globals
// Buttons
// =====================Globals=================================



$th-col:#ff00b3;
:root{
    --prcol:#000000;
    --bgcol:#ffffff;
    --ipcol:#000000;
    --bgip:#e1e1e1;
}
.darkmode{
    --prcol:#ffffff;
    --bgcol:#000;
    --ipcol:#fff;
    --bgip:#151414;
}
.wrap{
    width: 90%;
    margin: 0 auto;
}
.button{
    margin-top: 20px;
    width: 170px;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    border-radius: 10px;
    font-weight: 500;
    align-items: center;
    height: 60px;
    background-color: $th-col;
    color: #fff
}
h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--prcol);
    display: grid;
    justify-items: center;
    hr{
        background-color: $th-col;
        height: 2px;
        border: none;
        width: 20%;
    }
}
section{
        width: 100%;
        min-height: 100vh;
        background-color: var(--bgcol);
}
p{
    color: var(--prcol);
    font-size: 20px;
    word-spacing: 9px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
}
::selection{
    background-color: $th-col;
    color: #fff;
}
// =====================Globals=================================

// ===================== Header =================================
#menu-icon{
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: var(--prcol);
}
header{
    width: 100%;
    position: absolute;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
         #logo{
            font-size: 40px;
            color: var(--prcol);
            font-weight: 600;
            span{
                color: $th-col;
            }
        }
        #menubar{
            width: 40%;
            display: flex;
            list-style: none;
           justify-content: space-between;
           align-items: center;
           a{
            color: var(--prcol);
            font-weight: 500;
            font-size: 20px;
            transition: 0.3s;
             &:hover{
                 color: $th-col;
             }
          }
      }
   }  
}
#thicon{
    font-size: 30px;
    color: var(--prcol);
    cursor:pointer;
}
// ===================== Header =====================


// ==================== Banner  ===================== 
.banner{
    width: 100%;
    height: 100vh;
    background-color: var(--bgcol);
    .ban-row{
        width: 100%;
        height: 600px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
           h1{
            font-size: 53px;
            color: var(--prcol);
            span{
               color: $th-col;
            }
        } 
        .scroll{
            width: 50px;
            border: 3px solid var(--prcol) ;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius:30px;
            margin-top: 2em;
            span{
                margin-bottom: 19px;
                width: 8px;
                height: 8px;
                display: block;
                border-radius: 50%;
                background-color: var(--prcol);
                animation: blip 1s linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;

            }
        }
    }
}
#knowmore{
    @extend .button;
}
@keyframes blip {

    100%{
        box-shadow: 0px 1px 7px 3px $th-col;
    }
}
// ==================== Banner ====================

// ==================== About ====================
.skills{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    // gap: 3em;
  li{
    font-size: 2em;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--prcol);
    margin: 20px 0;
    list-style: none;
    gap: 1em;
    justify-content: space-between;
    .bar{
        width: 200px;
        height: 7px;
        border-radius:20px;
        overflow: hidden;
        // margin-left: 20px;
        background-color: #e1e1e1;
        span{
            width: 80%;
            background: $th-col;
            height: 100%;
            
            display: block;
        }
    }
  }
}
#css{
    width: 50%;
}
#js{
    width: 45%;
}
#git{
    width: 40%;
}
#sass{
    width: 60%;
}
#ps{
    width: 70%;
}
// ==================== About ====================

// ==================== My-work ====================\
.my-work{
    min-height: 50px;
}
.work{
    margin-top: 40px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 2em;
   span{
     position: relative;
     display: block;
     border-radius: 20px;
     overflow: hidden;
     width: 400px;
     p{
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 0% ;
        overflow: hidden;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 25px;
        background: linear-gradient(rgba(0, 0, 0, 0.6), $th-col);
        color: #fff;
        align-items: center;
        transition: 0.5s;
        i{
            margin-top:10px;
            color: #000;
            padding: 20px;
            border-radius: 50%;
            font-size: 30px;
            background-color: #fff;
        }
    }
    img{
        display: block;
        width:400px;
        transition: 0.3s;
        border-radius: 20px;
    }
    &:hover .wodes{
        height: 100%;
    }
    &:hover img{
        transform: scale(1.1);
        filter: contrast(110%);
    }
   }
}
.h3{
    width: 100%;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 600;
    text-shadow: -3px 2px 2px black;
}
// ==================== My-work ====================

// ==================== Contact ====================
.cont-form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
    margin-top: 3em;
   
    address{
        font-style: normal;
        flex-direction: column;
        align-items: center;
        flex-basis:300px;
        display: flex;
        gap: 2em;
        // background-color: #e1e1e1;
        p{
            color: var(--prcol);
        }
        .social {
            i{
                gap: 1em;
                display: inline;
                margin: 0 10px;
                font-size: 40px;
                color: var(--prcol);
                transition: 0.3s;
                &:hover{
                    color: $th-col;
                }
            }
        }
    }
    form{
        padding: 0 20px;
        display: grid;
        grid-template-columns:1fr ;
        row-gap: 20px;
        input , textarea{
            width: 100%;
            padding: 20px 10px;
            background-color:var(--bgip);
            border: none;
            color: var(--ipcol);
            border-radius: 5px;
            font-size: 18px
        }
    }
}
#submit{
    @extend .button;
}

// ==================== Contact ====================

// ==================== Footer ====================
#footer{
    padding: 20px 0;
    background-color: var(--bgip);
    color: var(--prcol);
    word-spacing: 1px;
    letter-spacing: 1px;
    span{
        color: $th-col;
    }
}
// ==================== Footer ====================
